<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
            <Component Id="CajaChocaExecutable" Guid="PUT-GUID-HERE">
                <File Id="CajaChocaExe" Source="cajachoca.exe" KeyPath="yes" />
            </Component>
            <Component Id="FrontendFiles" Guid="PUT-GUID-HERE">
                <Directory Id="FrontendDir" Name="dist">
                    <Directory Id="FrontendAssets" Name="assets">
                        <Component Id="FrontendAssetsComponent" Guid="PUT-GUID-HERE">
                            <File Id="FrontendAssetsFile" Source="dist/assets/*" />
                        </Component>
                    </Directory>
                    <Component Id="FrontendIndex" Guid="PUT-GUID-HERE">
                        <File Id="FrontendIndexFile" Source="dist/index.html" KeyPath="yes" />
                    </Component>
                </Directory>
            </Component>
        </ComponentGroup>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="PUT-GUID-HERE">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="Caja Choca" Description="Sistema de Caja Chica para unidades educativas" Target="[INSTALLDIR]cajachoca.exe" WorkingDirectory="INSTALLDIR" Icon="icon.ico" />
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\CajaChoca" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="UninstallShortcut" Guid="PUT-GUID-HERE">
                <File Id="UninstallExe" Source="dist/index.html" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
