<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Codepage="1252" Name="Caja Choca" Language="1034" Version="0.1.0" Manufacturer="Jhonny Ecl" UpgradeCode="PUT-GUID-HERE">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="Una versión más reciente de Caja Choca ya está instalada." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="Caja Choca" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <UIRef Id="WixUI_InstallDir" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

        <Icon Id="icon.ico" SourceFile="icons/icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <Property Id="ARPHELPLINK" Value="https://github.com/anomalyco/cajachoca/issues" />
        <Property Id="ARPSIZE" Value="0" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="Caja Choca" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Caja Choca" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <Dialog Id="CustomExitDialog" Width="370" Height="130" Title="Caja Choca - Instalación Completa">
                <Control Id="Finish" Type="PushButton" X="136" Y="100" Width="80" Height="23" Default="yes" Cancel="yes" Text="Finalizar">
                    <Publish Event="EndDialog" Value="Return" />
                </Control>
                <Control Id="Description" Type="Text" X="50" Y="40" Width="280" Height="40" NoPrefix="yes" Text="La instalación de Caja Choca se ha completado correctamente." />
                <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" FixedSize="yes" IconSize="32" SourceFile="icons/icon.ico" />
            </Dialog>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomExitDialog" Order="2"><![CDATA[NOT Installed]]></Publish>
        </UI>
    </Fragment>
</Wix>
